body{background-color: rgba(0, 0, 0, 0.2);}
.signup{ width: 800px;  margin: auto;}
h2{color:#AB1ADB;}
.signup_container{   
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
	position: relative;
    overflow: hidden;   
   }
.signup_container input{width:300px; heigth:40px;}
.emp_icon{    width: 100px;
    border: 5px solid #CCC;
    border-radius: 50%;
    margin: 40px;
    height: 100px;
    background-color: #FFF; position: absolute; right:20px; top: 20px;}

.emp_icon img{border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 0;}
.emp_icon input{z-index: 10;
    position: absolute;
    opacity: 0; cursor: pointer; width: 70px; height: 70px; border: none;}

.form_dec{margin:5%}
.input_dec{height:45px;}
.input_state{width:600px !important;}
.dob_input{width:80px !important; display: inline-block; margin-right:10px; height:45px;}
.lable_dec{clear: right;
    width: 100%;}
.checkbox1, .checkbox2{width:125px !important}	
.checkbox1:before{content:"Male"}
.checkbox2:before{content:"Female"}

@media (max-width:800px){
.signup{ width: 100%;  margin: auto;}

.signup_container input{width:70%; heigth:40px;}
.input_state {
    width: 100%!important;
}
.emp_icon {
    width: 70px;
    border: 5px solid #CCC;
    border-radius: 50%;
    margin: 40px;
    height: 70px;
    background-color: #FFF;
    position: absolute;
    right: -20px;
    top: 0px;
}
.btn{width:100%}

 .emp_icon img{
    height: 50px;
    width: 50px;
  }
.emp_icon input{
    opacity: 0; cursor: pointer; width: 50px; height: 50px;}

 .btn-group > .btn, .btn-group-vertical > .btn {

    width: 70px;
}
}

